[package]
name = "mpl-core"
description = "A flexible digital asset standard for Solana"
repository = "https://github.com/metaplex-foundation/mpl-core"
version = "0.7.1"
edition = "2021"
readme = "README.md"
license-file = "../../LICENSE"

[lib]
crate-type = ["cdylib", "lib"]

[features]
test-sbf = []
serde = ["dep:serde", "dep:serde_with"]
anchor = ["dep:anchor-lang"]

[dependencies]
borsh = "^0.10"
num-derive = "^0.3"
num-traits = "^0.2"
rmp-serde = "1.0"
serde = { version = "^1.0", features = ["derive"], optional = true }
serde_json = "1.0"
serde_with = { version = "^3.0", optional = true }
solana-program = "> 1.14, < 1.19"
thiserror = "^1.0"
base64 = "0.22.0"
anchor-lang = { version = "0.30.0", optional = true }
modular-bitfield = "0.11.2"

[dev-dependencies]
assert_matches = "1.5.0"
solana-program-test = "> 1.14, < 1.19"
solana-sdk = "> 1.14, < 1.19"
